{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<form class="login" method="post">
    <h2 class="h3 mb-3 font-weight-normal">Se connecter</h2>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        Connexion
    </button>
</form>
<turbo-frame id="the_frame_id">
{% include "_components/_toast.html.twig" %}
</turbo-frame>
{% endblock %}
