@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: Roboto;
}
form{
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    gap: 20px;
    div{
        display: flex;
        flex-direction: column;
        width: 40vw;
        input{
            margin-top: 2vh;
            height: 3vh;
        }
    }
    button[type="submit"]{
        width: 10vw;
        background-color: rgb(18, 145, 224);
        border: 0;
        justify-self: flex-end;
        align-self: flex-end;
    }
}
