<html lang="en">
<head>
    <style>

    </style>
</head>
<body>
    <h1>Activation du compte</h1>
    <p>Pour activer votre compte vous devez cliquer sur le lien ci-dessous</p>
    <a href="https://localhost:8000/register/activate/{{id}}">Activation</a>
</body>
</html>
